@import url('./assets/css/theme-rtl.min.css');
@import url('./assets/css/theme.min.css');
@import url('./assets/css/user-rtl.min.css');
@import url('./assets/css/user.min.css');
@import url('./assets/vendors/simplebar/simplebar.min.css');
@import url('./assets/vendors/leaflet/leaflet.css');
@import url('./assets/vendors/leaflet.markercluster/MarkerCluster.css');
@import url('./assets/vendors/leaflet.markercluster/MarkerCluster.Default.css');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
